<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>{% block title %} {% endblock title %}</title>
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
  </head>

  <body
    class="flex min-h-screen flex-col justify-between bg-pink-100 font-serif leading-normal"
  >
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <main class="container mx-auto w-full flex-1 rounded-lg md:max-w-3xl">
      <div>{% block content %} {% endblock content %}</div>
    </main>
    {% block footer %}
    <div
      class="from-pastel-salmon to-pastel-yellow mt-2 flex h-20 w-full items-center justify-center bg-gradient-to-r"
    >
      <p>This is my footer :)</p>
      <p>{% endblock footer %}</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  </body>

  <!-- we can put some nice JS stuff here later -->
</html>
