{% extends "base.html" %}

<div class="h-full w-full px-4 text-xl leading-normal">
  {% block content %}
  <div class="bg-pastel-salmon mt-4 rounded-lg px-4 py-2 shadow-lg">
    <h1>Home</h1>
    <h2>This is my perogative</h2>
    <p>Welcome to the home page!</p>
    <p>
      This is where all posts contents are shown. To go to a particular post,
      good luck!
    </p>
  </div>

  {% for post in all_posts %}
  <div class="bg-pastel-seafoam mt-4 rounded-lg p-3 shadow-md">
    <span class="text-sm text-gray-500 mb-2">
      {{ post[0] }} 
    </span>
    {{ post[1] | safe }}
  </div>
  {% endfor %} {% endblock content %}
</div>
