{% extends "base.html" %}

<div class="h-full w-full px-4 text-xl leading-normal md:px-6">
  {% block content %}
  <div class="bg-pastel-purple rounded-lg p-6 shadow-md">
    <h1>{{ meta_data.title }}</h1>
    <h2>
      <span class="from-pastel-blue to-pastel-salmon bg-gradient-to-r p-1">
        <span>Author: </span>
        <span>{{ meta_data.author }} </span>
      </span>
    </h2>
    <h3 class="mb-0 mt-0">Description:</h3>
    <p class="mt-0 leading-tight">{{ meta_data.description }} <br /></p>

    <p class="italic">{{ meta_data.tags }}</p>
    Posting Date: {{ meta_data.date }}
  </div>
  <!-- safe indicates we are okay with translating symbols to html -->
  <!-- without needing to be concerned about XSS. Wow. very cool   -->
  <div class="rounded-lg p-6 shadow-md">{{ post_content | safe }}</div>
  {% endblock content %}
</div>
<script src="../tailwind/prism-init.js"></script>
